.footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    height: 65px;
    padding: 20px;
    width: 98%;
    background-color: #282828;
}

.footer-left {
    display: flex;
    color: white;
    flex: 0.3;
    align-items: center;
}

.footer-img {
    height: 60px;
    width: 60px;
    margin-right: 20px;
    object-fit: contain;
    max-width: 300px;
}

.footer-center {
    flex: 0.4;
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;

}
.footer-icon:hover,
.footer-green:hover{
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
}
.footer-green {
    color: #1ed15e;
}
.footer-songInfo > h4{
    margin-bottom: 5px;
}
.footer-songInfo > p{
    font-size: 12px;
}
.footer-right {
    flex: 0.3;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
}
.footer-right * .MuiSlider-root{
    color: green;
}